sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone-client[grpc]
langchain_pinecone
langchain_community
transformers
accelerate
torch
langchain_experimental
bitsandbytes # for quantization to reduce memory usage
-e .